.home-container {
    width: 1200px;
    margin:  30px auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.features-section {
    width: 100%;
}

.call-to-action-section {
    display: flex;
    gap: 100px;
}

.call-to-action-text {
    font-size: 2.4em;
    font-style: italic;
    transform: rotate(-8deg);
    background-color: var(--mcbun-red);
    color: var(--primary-clr);
    padding: 5px;
    position: relative;
    border-radius: 25px;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}

.call-to-action-text::after {
    content: "GO TO THE MENU!";
    left: 50px;
    top: 50px;
    position: absolute;
    background-color: var(--mcbun-red);
    padding: 5px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}

.call-to-action-btn {
    font-size: 2.5em;
    font-weight: 700;
    background-color: var(--mcbun-yellow);
    height: max-content;
    padding: 0 15px;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 8px 15px;
}

.call-to-action-btn:hover {
    background-color: var(--mcbun-yellow-hover);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}