.menu-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-container__responsive-grid {
    max-width: 1200px;
    width: 100%;
    margin-top: 75px;
    display: grid;
    padding: 0 15px;
    gap: 50px;
}

.menu-filters-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 10px;
    justify-content: center;
}

.menu-filters-container .category-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all 0.1s ease;
    padding: 5px 0;
    border-radius: 15px;
}

.menu-filters-container .category-card:hover .category-card__img-wrapper {
    transform: scale(1.1);
}

.category-card:hover .category-card__label {
    transition: all 0.1s ease;
}

.menu-filters-container .category-card:hover .category-card__label {
    font-weight: bold;
}

.menu-filters-container .category-card.active {
    border: 3px solid var(--dark-clr);
    background-color: hsla(0, 0%, 0%, 0.3);
    font-weight: bold;
}

.category-card__img-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    transition: all 0.1s ease;
}

.category-card__img-wrapper img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.cmp-header-section {
    padding-bottom: 30px;
    border-bottom: 2px solid black;
}

/* ==== PRODUCT CARD COMPONENT ==== */
