.nav-container {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.nav-btn {
    font-weight: 600;
    color: #333;
    transition: all 0.3s ease;
    position: relative;
    width: max-content;
}

.nav-btn::after {
    content: "";
    background: var(--mcbun-red);
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 100px;
    transition: all 0.3s ease;
}

.nav-btn:hover::after {
    left: 0;
    width: 100%;
}

.nav-btn:hover {
    color: var(--mcbun-red) !important;
    transform: translateY(-2px);
}

.nav-btn.active {
    color: var(--mcbun-red) !important;
}

.nav-btn.active:after {
    left: 0;
    width: 100%;
}

.logo-pic {
    width: 90px;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-section button {
    margin-left: 20px;
}