.cmp-global-header {
    width: 100%;
    background-color: #fff; /* або твій колір */
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.25); /* коміксний стиль */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px;   
}

.cmp-global-header__desktop-nav 
.cmp-header__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 10px 20px;
    box-sizing: border-box;
}

.cmp-global-header__desktop-nav 
.cmp-header__logo {
    width: 100px;
}

.cmp-global-header__desktop-nav
.cmp-header__nav {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    font-weight: 700;
}

.cmp-global-header__desktop-nav
.cmp-navigation__group {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cmp-global-header__desktop-nav
.cmp-navigation__link {
    transition: all 0.3s ease;
    position: relative;
}

.cmp-global-header__desktop-nav
.cmp-navigation__link.active,
.cmp-global-header__desktop-nav
.cmp-navigation__link:hover {
    color: var(--mcbun-red);
}

.cmp-global-header__desktop-nav
.cmp-navigation__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: var(--mcbun-red);
    transition: all 0.3s ease;
}

.cmp-global-header__desktop-nav
.cmp-navigation__link.active::after,
.cmp-global-header__desktop-nav
.cmp-navigation__link:hover::after {
    left: 0;
    width: 100%;
}

.cmp-global-header__desktop-nav
.cmp-navigation {
    margin-left: auto;
}